# Show the dataframe shape.

In [83]:
import pandas as pd

In [84]:
df=pd.read_csv(r'C:\Users\Benutzer1\Ironhack\Week_1\Day_2\Afternoon\lab-customer-analysis-round-2\files_for_lab\csv_files\marketing_customer_analysis.csv')

In [85]:
df.shape

(10910, 26)

In [86]:
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

# Standardize header names.

In [87]:
df.columns.unique()

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [88]:
df2=df.copy()

In [89]:
cols = []
for column in df2.columns:
    cols.append(column.lower())
df2.columns = cols

In [90]:
df2.columns.unique()

Index(['unnamed: 0', 'customer', 'state', 'customer lifetime value',
       'response', 'coverage', 'education', 'effective to date',
       'employmentstatus', 'gender', 'income', 'location code',
       'marital status', 'monthly premium auto', 'months since last claim',
       'months since policy inception', 'number of open complaints',
       'number of policies', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'total claim amount', 'vehicle class', 'vehicle size',
       'vehicle type'],
      dtype='object')

In [91]:
def standerlize(x):
    if ( ' ' in x ):
        x = x.replace(" ","_")
    return x
standerlize('we can')

'we_can'

In [92]:
df2.columns = df2.columns.to_series().apply(standerlize)
df2.columns.unique()
df2=df2.drop('unnamed:_0',axis=1)

In [93]:
df2.columns.unique()

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

# Which columns are numerical?

In [112]:
import numpy as np

In [113]:
df2.select_dtypes(np.number)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
6,5035.035257,37405,63,8.0,99,3.0,4,287.556107
...,...,...,...,...,...,...,...,...
10903,2771.663013,59855,74,30.0,82,4.0,1,355.200000
10904,19228.463620,0,187,14.0,32,0.0,2,897.600000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849

# Which columns are catagorical?

In [95]:
df2.select_dtypes('object')

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type
0,DK49336,Arizona,No,Basic,College,2/18/11,Employed,M,Suburban,Married,Corporate Auto,Corporate L3,Offer3,Agent,Four-Door Car,Medsize,NaN
1,KX64629,California,No,Basic,College,1/18/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer4,Call Center,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Call Center,SUV,Medsize,A
3,XL78013,Oregon,Yes,Extended,College,1/11/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer2,Branch,Four-Door Car,Medsize,A
4,QA50777,Oregon,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,Married,Personal Auto,Personal L1,Offer3,Web,Luxury Car,Medsize,A
10906,KX53892,Oregon,No,Basic,College,1/6/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Branch,Four-Door Car,Medsize,A
10907,TL39050,Arizona,No,Extended,Bachelor,2/6/11,Employed,F,Rural,Married,Corporate Auto,Corporate L3,Offer1,Web,Luxury SUV,Medsize,NaN
10908,WA60547,California,No,Premium,College,2/13/11,Employed,F,Urban,Divorced,Personal Auto,Personal L1,Offer1,Branch,SUV,Medsize,A
10909,IV32877,NaN,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer4,Web,SUV,Medsize,NaN

# Check and deal with NaN values.

In [96]:
df2.isna().sum()

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [99]:
df2[df2['vehicle_class'].isna()==True].head(60)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
87,ZH92587,Oregon,8126.766397,No,Basic,College,2/22/11,Disabled,F,14616,...,NaN,3,Personal Auto,Personal L3,Offer1,Agent,513.600000,NaN,NaN,NaN
88,CJ51511,Arizona,13466.920710,Yes,Basic,High School or Below,2/23/11,Disabled,F,11432,...,NaN,2,Corporate Auto,Corporate L3,Offer2,Agent,571.200000,NaN,NaN,NaN
89,ME37450,Arizona,5210.348372,No,Basic,Bachelor,1/4/11,Employed,M,89781,...,0.0,5,Special Auto,Special L2,Offer1,Agent,37.960537,NaN,NaN,A
97,CA22248,Oregon,2505.420430,No,Basic,Master,2/14/11,Employed,F,60546,...,0.0,1,Personal Auto,Personal L3,Offer2,Branch,46.278027,NaN,NaN,A
148,HB24005,California,2347.048112,No,Basic,College,2/2/11,Employed,M,31617,...,1.0,1,Personal Auto,Personal L1,Offer1,Agent,244.269407,NaN,NaN,A
163,TP34946,California,5108.038755,No,Basic,College,1/9/11,Disabled,M,26784,...,0.0,8,Corporate Auto,Corporate L3,Offer3,Branch,482.400000,NaN,NaN,NaN
186,BG42047,Nevada,2511.944048,No,Basic,College,1/15/11,Medical Leave,M,17658,...,0.0,1,Personal Auto,Personal L3,Offer3,Web,312.000000,NaN,NaN,A
205,YZ19736,Arizona,2580.849899,Yes,Basic,College,2/9/11,Employed,M,46900,...,0.0,1,Personal Auto,Personal L2,Offer2,Web,316.800000,NaN,NaN,A
224,KL65897,California,6331.338496,No,Extended,Bachelor,2/21/11,Unemployed,F,0,...,0.0,3,Personal Auto,Personal L2,Offer1,Branch,94.714302,NaN,NaN,A
261,HZ56678,Oregon,2780.196856,No,Basic,High School or Below,1/12/11,Disabled,F,20261,...,0.0,1,Personal Auto,Personal L2,Offer4,Web,345.600000,NaN,NaN,A
294,AM57175,Oregon,15000.842380,No,Extended,High School or Below,1/6/11,Employed,F,62473,...,1.0,2,Personal Auto,Personal L3,Offer1,Branch,507.560729,NaN,NaN,NaN
301,JP35025,California,5714.165863,No,Basic,Master,2/23/11,Disabled,F,23726,...,0.0,9,Corporate Auto,Corporate L1,Offer1,Call Center,355.200000,NaN,NaN,A
346,YC69616,Arizona,2719.506996,Yes,Basic,College,1/24/11,Retired,F,14030,...,0.0,1,Personal Auto,Personal L3,Offer2,Branch,345.600000,NaN,NaN,A
367,VY90611,California,2499.036551,No,Basic,Master,1/27/11,Employed,F,28264,...,NaN,1,Corporate Auto,Corporate L3,Offer2,Agent,364.622773,NaN,NaN,A
397,XV69290,California,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L2,Offer2,Branch,484.013411,NaN,NaN,NaN
416,EO40136,Arizona,2912.248444,No,Basic,College,1/24/11,Employed,F,93403,...,0.0,1,Personal Auto,Personal L2,Offer2,Web,295.224598,NaN,NaN,NaN
426,GE82737,Nevada,5337.352409,No,Extended,Bachelor,2/14/11,Unemployed,F,0,...,3.0,5,Personal Auto,Personal L3,Offer1,Agent,619.200000,NaN,NaN,A
448,GT66241,California,2414.072446,No,Basic,High School or Below,1/8/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,511.200000,NaN,NaN,NaN
457,BZ85280,Oregon,7284.262288,No,Basic,College,2/23/11,Medical Leave,M,10334,...,0.0,2,Personal Auto,Personal L1,Offer3,Agent,296.962938,NaN,NaN,NaN
480,EC71986,Washington,2429.280527,No,Basic,High School or Below,1/18/11,Medical Leave,F,26736,...,0.0,1,Personal Auto,Personal L1,Offer1,Agent,367.927730,NaN,NaN,NaN
489,GU42671,Arizona,6106.941981,No,Extended,Bachelor,2/21/11,Medical Leave,F,16654,...,0.0,7,Personal Auto,Personal L3,Offer1,Branch,379.200000,NaN,NaN,A
491,IE97795,NaN,6878.008403,NaN,Extended,High School or Below,2/5/11,Employed,M,39020,...,0.0,5,Corporate Auto,Corporate L1,Offer3,Agent,485.013840,NaN,NaN,A
494,AY55759,California,20096.893370,Yes,Basic,High School or Below,1/1/11,Employed,F,92766,...,0.0,2,Personal Auto,Personal L2,Offer2,Agent,379.029102,NaN,NaN,NaN
547,FL85008,Oregon,13466.920710,Yes,Basic,High School or Below,2/23/11,Disabled,F,11432,...,0.0,2,Personal Auto,Personal L2,Offer2,Agent,571.200000,NaN,NaN,NaN
554,AU23837,Oregon,5010.379310,No,Basic,Bachelor,1/19/11,Employed,F,64014,...,0.0,7,Corporate Auto,Corporate L3,Offer1,Agent,295.871784,NaN,NaN,A
577,GQ46925,Arizona,5821.684337,No,Premium,High School or Below,2/15/11,Employed,M,77563,...,0.0,1,Personal Auto,Personal L1,Offer4,Call Center,545.999699,NaN,NaN,NaN
586,GZ79662,Arizona,5484.588155,No,Basic,High School or Below,2/21/11,Employed,M,47611,...,0.0,4,Corporate Auto,Corporate L3,Offer2,Call Center,593.654484,NaN,NaN,NaN
601,OA92714,California,5055.902381,No,Basic,Bachelor,1/10/11,Employed,F,88989,...,1.0,3,Personal Auto,Personal L3,Offer3,Call Center,232.745161,NaN,NaN,A
634,DH34004,California,6191.402312,No,Basic,College,2/6/11,Unemployed,M,0,...,3.0,1,Personal Auto,Personal L3,Offer2,Web,955.200000,NaN,NaN,A
636,HM94328,Arizona,6047.025160,Yes,Extended,College,2/19/11,Employed,M,20396,...,1.0,4,Corporate Auto,Corporate L2,Offer1,Branch,364.800000,NaN,NaN,A
644,SK12432,Arizona,2388.353882,No,Basic,Bachelor,2/14/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,677.970934,NaN,NaN,A
650,JP58047,Oregon,8332.730557,No,Extended,College,1/27/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L3,Offer2,Web,379.200000,NaN,NaN,A
668,KH58171,California,2551.226692,Yes,Basic,Master,1/19/11,Employed,M,79751,...,0.0,1,Personal Auto,Personal L3,Offer3,Web,392.235698,NaN,NaN,NaN
672,GJ47397,Oregon,38055.209530,No,Basic,High School or Below,2/12/11,Unemployed,M,0,...,0.0,2,Special Auto,Special L2,Offer2,Agent,552.000000,NaN,NaN,A
679,EZ41764,California,2498.963061,No,Basic,Bachelor,2/26/11,Employed,M,76792,...,0.0,1,Personal Auto,Personal L2,Offer3,Agent,297.600000,NaN,NaN,NaN
683,KC36987,Oregon,13334.267630,No,Premium,Bachelor,1/20/11,Employed,M,47950,...,1.0,8,Personal Auto,Personal L3,Offer1,Branch,780.990942,NaN,NaN,NaN
691,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,...,NaN,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,NaN
716,ZZ49347,Oregon,2592.437797,Yes,Basic,High School or Below,1/2/11,Employed,M,72421,...,0.0,1,Personal Auto,Personal L3,Offer2,Call Center,312.000000,NaN,NaN,A
718,KW95891,Oregon,2635.148447,No,Basic,High School or Below,1/28/11,Employed,F,93884,...,0.0,1,Personal Auto,Personal L3,Offer4,Branch,312.000000,NaN,NaN,NaN
744,KH24214,NaN,17857.972330,NaN,Basic,College,2/13/11,Employed,M,55437,...,1.0,2,Personal Auto,Personal L3,Offer3,Agent,445.287788,NaN,NaN,NaN
756,VX85673,Arizona,4250.282624,Yes,Basic,High School or Below,1/18/11,Unemployed,F,0,...,1.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,NaN,NaN,NaN
761,XH47320,Nevada,2937.424534,No,Basic,Master,1/10/11,Employed,F,83195,...,1.0,1,Personal Auto,Personal L1,Offer1,Call Center,332.693627,NaN,NaN,A
786,HF11584,Arizona,12913.498180,No,Basic,Master,1/11/11,Employed,M,62448,...,0.0,2,Personal Auto,Personal L3,Offer1,Branch,513.600000,NaN,NaN,NaN
856,CF62992,Oregon,2471.077732,No,Basic,High School or Below,1/16/11,Employed,F,53074,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,268.773368,NaN,NaN,NaN
888,ED28429,Washington,4159.593921,No,Basic,Bachelor,2/1/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer1,Agent,446.400000,NaN,NaN,A
929,BB11622,Nevada,10552.169990,No,Extended,Master,1/2/11,Employed,M,47761,...,0.0,6,Personal Auto,Personal L3,Offer1,Agent,232.711071,NaN,NaN,NaN
933,YT91759,California,6366.225775,Yes,Extended,High School or Below,1/7/11,Employed,M,44368,...,0.0,3,Personal Auto,Personal L2,Offer2,Call Center,384.000000,NaN,NaN,NaN
950,ID89933,Oregon,7255.577594,No,Extended,Doctor,1/9/11,Employed,F,39786,...,1.0,9,Personal Auto,Personal L2,Offer1,Web,365.835977,NaN,NaN,A
972,MG46007,California,6358.251692,No,Extended,High School or Below,1/24/11,Unemployed,M,0,...,2.0,4,Personal Auto,Personal L2,Offer1,Agent,17.938979,NaN,NaN,A
979,BA52133,California,5344.989624,No,Basic,Master,2/11/11,Employed,M,22908,...,0.0,7,Personal Auto,Personal L2,Offer3,Call Center,387.774781,NaN,NaN,NaN
982,TK61994,Oregon,6104.501453,No,Extended,College,2/28/11,Disabled,F,18690,...,0.0,5,Personal Auto,Personal L2,Offer1,Agent,18.192921,NaN,NaN,A
993,MQ68407,Oregon,4376.363592,Yes,Premium,Bachelor,2/28/11,Employed,F,63774,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,60.036683,NaN,NaN,A
1024,VE72838,Arizona,13770.976180,Yes,Premium,High School or Below,2/1/11,Employed,F,59207,...,0.0,2,Personal Auto,Personal L3,Offer1,Agent,556.800000,NaN,NaN,A
1046,LD75023,Oregon,26346.085820,No,Extended,High School or Below,1/20/11,Employed,M,48268,...,0.0,2,Personal Auto,Personal L2,Offer1,Web,1605.600000,NaN,NaN,A
1065,BU72633,Nevada,42561.631830,No,Basic,Master,1/10/11,Employed,M,66661,...,0.0,2,Personal Auto,Personal L2,Offer1,Agent,571.200000,NaN,NaN,NaN
1075,ES57969,Oregon,2453.570794,Yes,Basic,Bachelor,2/9/11,Medical Leave,M,29735,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,331.200000,NaN,NaN,A
1078,YI73667,Nevada,5340.810309,No,Basic,College,1/17/11,Unemployed,F,0,...,0.0,6,Personal Auto,Personal L3,Offer2,Web,345.600000,NaN,NaN,A
1109,CE72177,California,5461.548993,No,Basic,High School or Below,1/7/11,Employed,F,39626,...,0.0,3,Personal Auto,Personal L3,Offer2,Agent,485.705851,NaN,NaN,A
1127,ZW19492,Oregon,2404.917967,No,Basic,Bachelor,2/14/11,Employed,M,63455,...,0.0,1,Personal Auto,Personal L3,Offer1,Branch,287.654819,NaN,NaN,A
1130,XW96958,Nevada,7573.345057,No,Premium,High School or Below,2/20/11,Unemployed,M,0,...,0.0,6,Corporate Auto,Corporate L3,Offer1,Agent,1193.036154,NaN,NaN,A

In [100]:
df2 = df2[df2['state'].isna()==False]#after checking the missing value,the nan in state is also nan in response

In [101]:
df2 = df2[df2['months_since_last_claim'].isna()==False]#after checking the missing value,the nan in months_since_last_claim is also nan in number_of_open_complaints

In [103]:
df2 = df2[df2['vehicle_class'].isna()==False] #after checking the missing value,the nan in vehicle_class is also nan in vehicle_size
#So we just drop one of them then we've droped for all
#Since it's not a big amount so we just drop it directly
#But the nan in vehicle type is a lot,se we need to deal with it.
#Since it's a catagorical value so I decide to use the most frequent value to replace nan

In [104]:
df2.shape

(9134, 25)

In [105]:
display(df2.isna().sum())

customer                            0
state                               0
customer_lifetime_value             0
response                            0
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim             0
months_since_policy_inception       0
number_of_open_complaints           0
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                       0
vehicle_size                        0
vehicle_type                     4591
dtype: int64

In [108]:
df2['vehicle_type'].value_counts(dropna=False)

NaN    4591
A      4543
Name: vehicle_type, dtype: int64

In [109]:
df2['vehicle_type'] = df2['vehicle_type'].fillna('A')

In [110]:
df2['vehicle_type'].value_counts(dropna=False)

A    9134
Name: vehicle_type, dtype: int64

# Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.

In [115]:
df2['date'] = pd.to_datetime(df2['effective_to_date'])
df2.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,date
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2011-02-18
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,2011-01-18
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011-02-10
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011-01-11
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,A,2011-02-14

In [125]:
df2[df2['date']<'2011-04-01']

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,date
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2011-02-18
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,2011-01-18
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011-02-10
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011-01-11
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,A,2011-02-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,2011-01-07
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2011-02-24
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,2011-01-06
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2011-02-06
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011-02-13